@using Comman.Helpers
@using Models
@using Resources
@using Resources.App_GlobalResources
@model ContactUsModel
@{
    Layout = "../shared/_Layout.cshtml";
}
@section title {<title>@ResourceLocalization.GetResource(() => Resource.ContactUs)</title>}

@section cssTop
{

<!-- Bootstrap -->
<link href="/GlobalItems/fonts/materialFontIcon/css/materialdesignicons.min.css" rel="stylesheet">
<link href="/themes/hayanews/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/themes/hayanews/static/css/style.css" rel="stylesheet">
<link href="/themes/hayanews/static/css/otherpage.css" rel="stylesheet">
<!-- menu-resize -->
<link rel="stylesheet" type="text/css" href="/themes/hayanews/static/css/menuResize/menuResize.css" media="all" />
<link rel="stylesheet" type="text/css" href="/themes/hayanews/static/css/menu/menu.css" media="all" />

<!-- form-material-->
<link type="text/css" rel="stylesheet" href="/GlobalItems/form-material/style/form-material.css" media="all" />
}

@{
    var editMode = Request.IsAuthenticated && (Roles.GetRolesForUser().Contains(Settings.AdminRole) || Roles.GetRolesForUser().Contains(Settings.ProgrammerRole));
    var keys = new List<string>() { "ارتبـاط با مـا", "شبکه‌های اجتماعی", "نقشه" };
    string s = Html.Action("GetContentsValueByKeys", "ContentLocalized", new { keys, ishtml = true }).ToString();
    var result = new System.Web.Script.Serialization.JavaScriptSerializer()
    .Deserialize<List<ContentItems>>(s);
}
@section Banner
{
    @Html.Action("GetAllSlidesByDisplayOrder", "SlidesLocalized")
}
<section class="Breadcrumbs">
    <div class="container">
        <div class="bread-crumb">
            @{ Html.RenderPartial(Url.Content("/Themes/hayanews/views/Shared/_NormalBreadCrumbPartial.cshtml"), new ViewDataDictionary { { "pageTitle", ResourceLocalization.GetResource(() => Resource.ContactUs) } }); }

        </div>
    </div>
</section>
<section class="main">
    <div class="container">
        <div class="otherPages">
            <div class="contet row">
                <div class="col-md-5 col-sm-6 col-xs-12" style="padding-left: 55px;">
                    <h3 class="titr bullet">@ResourceLocalization.GetResource(() => Resource.ContactUs)</h3>
                    <div class="contactus">
                        <a href=""><h4 class="title"> @ResourceLocalization.GetResource(() => Resource.ContactUs)</h4></a>
                        @{
                            var key = "ارتبـاط با مـا";
                            if (editMode)
                            {
                                @*<button class="btn btn-large btn-block" type="button" onclick="SetNewValues('@string.Concat("editable_", key)')">ثبت تغییرات </button>*@
                                <div id="editable_@key" contenteditable="true">

                                    @{
                                        var firstOrDefault = result.FirstOrDefault(x => x.Key == key);
                                        if (firstOrDefault != null)
                                        {
                                            WriteLiteral(firstOrDefault.Value);
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                var firstOrDefault = result.FirstOrDefault(x => x.Key == key);
                                if (firstOrDefault != null)
                                {
                                    WriteLiteral(firstOrDefault.Value);
                                }
                            }
                        }
                        @*<div class="contact-us">
                                <div class="address"><span class="mdi mdi-home-map-marker ico"></span><p class="note">تهران ،  عباس آباد، خیابان بخارست، کوچه پژوهشگاه 2، پلاک 8، طبقه چهارم، واحد 10</p></div>
                                <div class="phone"><span class="mdi mdi-deskphone ico"></span><p class="note">021-88528554</p></div>
                                <div class="email"><span class="mdi mdi-email-variant ico"></span><p class="note">info@webone.co</p></div>
                            </div>*@
                    </div>
                    <div class="Social_Networks">
                        <h4 class="title">@{ Write(LanguageHelper.GetLang() == "fa" ? "شبکه‌های اجتماعی" : "Social Networks"); }</h4>
                        <div online-edit='true' datawidget='{"Widget":[ {"WidgetName":"SocialNetwork","WidgetFarsiName":"تنظیمات شبکه" }]}' data-sectionid="SocialNetwork">

                            <ul social-container="socialcontainer" class="socials">
                                <li data-position="2" data-propertysocials="FaceBook"><a data-socialproperty-href="FaceBook" href="#" target="_blank"><i class="mdi mdi-facebook"></i></a></li>
                                <li data-position="2" data-propertysocials="Google-Plus"><a data-socialproperty-href="Google-Plus" href="#" target="_blank"><i class="mdi mdi-google-plus"></i></a></li>
                                <li data-position="2" data-propertysocials="Instagram"><a data-socialproperty-href="Instagram" href="#" target="_blank"><i class="mdi mdi-instagram"></i></a></li>
                                <li data-position="2" data-propertysocials="Linkedin"><a data-socialproperty-href="Linkedin" href="#" target="_blank"><i class="mdi mdi-linkedin"></i></a></li>
                                <li data-position="2" data-propertysocials="Telegram"><a data-socialproperty-href="Telegram" href="#" target="_blank"><i class="mdi mdi-telegram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form_contact">
                        <h4 class="title">@{ Write(LanguageHelper.GetLang() == "fa" ? "‌فرم تماس با ما" : "Contact Form"); }</h4>
                        <form  action="@Url.Action("AjaxContactUs", "Home")" method="POST">
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.Name, new { id = "inputname", @class = "form-control", required = "required", placeholder = @ResourceLocalization.GetResource(() => Resource.Name) })
                                @Html.ValidationMessageFor(x => x.Name)

                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.Email, new { id = "inputemail", @class = "form-control", placeholder = @ResourceLocalization.GetResource(() => Resource.Email) })
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = @ResourceLocalization.GetResource(() => Resource.Subject) })
                                @Html.ValidationMessageFor(x => x.Subject)
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(x => x.Desc, new { id = "textarea1", @class = "form-control matn", style = "border:1px solid #878787;border-radius:5px;", rows = "5", cols = "50", placeholder = @ResourceLocalization.GetResource(() => Resource.Message) })
                                @Html.ValidationMessageFor(x => x.Desc)
                            </div>
                            <div class="row captcha">
                                <div class="holder">
                                    <div class="col-md-5 col-sm-5 col-xs-12 reload"> <img id="m_imgCaptcha" class="img-responsive" onclick="loadCaptcha();"></div>
                                    <div class="col-md-1 col-sm-1 col-xs-1 d reload" onclick="loadCaptcha();"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-10">
                                        @Html.TextBox("captcha", null, new Dictionary<string, object>
                                        {
                                            {"id", "input5"},
                                            {"aria-required", "true"}, {"aria-invalid", "true"},
                                            {"data-val", "true"}, {"data-val-required", ResourceLocalization.GetResource(() => Resource.Validation_CaptchaRequired)},
                                            {"class", "form-control"},
                                            {"placeholder", @ResourceLocalization.GetResource(() => Resource.SecurityCode)}
                                        })
                                        @Html.ValidationMessage("captcha")
                                    </div>
                                </div>
                                <button href="#" type="button" class=" btn-send col-md-4 col-sm-4 col-xs-4" onclick="SubmitAjaxFormWithModel(this, '#result', '#contactInvisible', '#contactSubmit', 'm_imgCaptcha')">@ResourceLocalization.GetResource(() => Resource.Send)</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">

                    <div class="map"></div>
                    <div class="shadowmap">
                        @{

                            var val = result.FirstOrDefault(x => x.Key == "نقشه");
                            if (val != null)
                            {
                                WriteLiteral(val.Value);
                            }

                        }
                        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.856779373574!2d51.41773361526008!3d35.729740680183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e014fe14de073%3A0xf3aff95d43670578!2sWebOne!5e0!3m2!1sen!2sir!4v1496758490319" style="width: 100%; height: 860px;" frameborder="0" allowfullscreen></iframe>*@
                    </div>
                </div>
                


            </div>
        </div>
    </div>
</section>



<!--================================ js ====================================-->
@section jsBottom
{
    <!-- start script -->
<script type="text/javascript" src="/themes/hayanews/static/js/jquery.min.js"></script>

<script type="text/javascript" src="/themes/hayanews/static/js/bootstrap.min.js"></script>
<!-- ripplink -->
<script src="/themes/hayanews/static/js/ripplink.js"></script>
<!-- menu -->
<script src="/themes/hayanews/static/js/menu/bootstrap-dropdownhover.js"></script>
<!-- custom -->
<script src="/themes/hayanews/static/js/custom.js"></script>
<!--backToTop-->
<script src="/themes/hayanews/static/js/backToTop/backToTop.js"></script>
<!-- material-->
<script type="text/javascript" src="/GlobalItems/form-material/style/form-material.js"></script>

    <script src="@Url.Content("~/Areas/GlobalItems/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/GlobalItems/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
