@using Comman.Enums
@using Comman.Helpers
@using Utility.Comman
@using Utility.HtmlHelpers
@using WebDesign.UI.Tools
@model Models.ProductCategoryInfiniteScrollListModel
@{
    var counter = 0;
    var classNameStrong = "title";
    var classNameDiv = "owl-demo2";

}
@foreach (var cat in Model.ProductCategoryLocalizeds)
{
    var products = cat.ProductsCategories.Products.Where(x => x.Deleted != true && x.ShowOnHomePage && x.Publish).Take(15).ToList();

    <section id="main" class="part1">
        <div class="container">
            @if (counter == 0)
            {
                classNameStrong = "title";
                classNameDiv = "owl-demo2";
                counter = 1;
            }
            else
            {
                classNameStrong = "title rev";
                classNameDiv = "owl-demo3";
                counter = 0;
            }
            <strong class="@classNameStrong">@cat.Name</strong>
            <div class="row">
                <div id="@classNameDiv" class="owl-carousel">
                    @foreach (var product in products)
                    {
                        var item = product.ProductsLocalized.FirstOrDefault();
                        var url = UrlTools.GetProductDetailsUrl(item);
                        var imagePath = Html.Imagehelper(item.Products.Image);
                        //var priceAfterApppliedDiscount = Discounts.CalculateDiscounts(item.Products);
                        //var result = priceAfterApppliedDiscount.Item1 * Model.Currency.Rate;
                        <div class="item" onclick="window.location('@url')">
                            <figure class="productItem animateblock lazy-load-box">
                                <span></span>
                                <img src="@imagePath" alt="" title=""/>
                                <figcaption>
                                    <a href="@url">MGM Lens </a>
                                </figcaption>
                            </figure>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>
}




@*<strong class="title rev">عدسی‌های آماده</strong>
<div class="row">
    <div id="owl-demo3" class="owl-carousel">
        <div class="item">
            <figure class="productItem animateblock lazy-load-box">
                <span></span>
                <img src="/Themes/mgmLens/static/img/product1.jpg" alt="" title="" />
                <figcaption>
                    <a href="/Themes/kashefi/single-product-rtl.html">MGM Lens  </a>
                </figcaption>
            </figure>
        </div>
    </div>
</div>*@