@using Comman.Enums
@using Comman.Helpers
@using Resources.App_GlobalResources
@model Models.UiCommentCreateModel
<form class="commentForm" action="@Url.Action("AjaxCreateComment", "Comments")" method="POST">
    @Html.HiddenFor(x => x.Comments.ProductsId)
    @Html.HiddenFor(x => x.Comments.PortfolioId)
    @Html.HiddenFor(x => x.Comments.PostsId)
    @Html.HiddenFor(x => x.CommentsType)
    <p> @{ Write(LanguageHelper.GetLang() == "fa" ? "لطفاً جهت ثبت نظر، ابتدا" : " Please"); } <a href="#">@{ Write(LanguageHelper.GetLang() == "fa" ? "وارد" : "login"); }</a>@{ Write(LanguageHelper.GetLang() == "fa" ? "سایت شوید" : "first to Submit a comment"); }</p>
    @*<input id="input1" class="wpcf7-form-control inputText form-control" aria-required="true" aria-invalid="true" type="text" placeholder="نام و نام خانوادگی شما*">*@


    @Html.TextBoxFor(x => x.Comments.Title, null, new Dictionary<string, object>
                                            {
                                           {"id","input1" },
                                           {"aria-required","true" }, {"aria-invalid","true" },
                                                {"class", "wpcf7-form-control inputText form-control"},
                                                {"placeholder", @ResourceLocalization.GetResource(() => Resource.Name)}


                                            })
    @Html.ValidationMessageFor(x => x.Comments.Title)

    @*<input id="input2" class="wpcf7-form-control inputText form-control dr-ltr" aria-required="true" aria-invalid="true" type="text" placeholder="ایمیل شما*">*@
    @Html.TextBoxFor(x => x.Comments.Email, null, new Dictionary<string, object>
                                           {
                                           {"id","input2" },
                                           {"aria-required","true" }, {"aria-invalid","true" },
                                           {"class", "wpcf7-form-control inputText form-control dr-ltr"},
                                           {"placeholder", @ResourceLocalization.GetResource(() => Resource.Email)}
                                            })
    @Html.ValidationMessageFor(x => x.Comments.Email)


    @*<textarea id="textarea1" placeholder="متن نقد، بررسی و نظر شما" class="wpcf7-form-control inputArea materialize-textarea form-control" rows="6" style="border: 1px solid #e6e6e6; height: 90px;"></textarea>*@
    @Html.TextAreaFor(x => x.Comments.Description,
    new { id = "textarea1", @class = "wpcf7-form-control inputArea materialize-textarea form-control", placeholder = @ResourceLocalization.GetResource(() => Resource.Description)})
    <!-- <button class="submit btn ripplelink"> ثبت نظر</button>-->
    <div id="captcha" class="row captcha">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="g-recaptcha pull-right" id="recaptcha1"></div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <button type="button" class="btn btn-default btn-send">@{ Write(LanguageHelper.GetLang() == "fa" ? "ثبت پیام" : "Submit comments"); }</button>
        </div>
    </div>
</form>