@using Comman.Helpers
@using Resources.App_GlobalResources
@using Utility.HtmlHelpers
@using WebDesign.UI.Tools
@using WebDesign.UI.Framework.SharedObjects
@model Models.PortfolioInfiniteScrollListModel

@* این قسمت برای فهمیدن اینکه به آخر رکوردها رسیده ایم لازم است *@
@{
    if (Model.PortfolioLocalizeds == null || Model.PortfolioLocalizeds.Count() < Model.PageSize)
    {
        <input type="hidden" id="filterRecordsEndFlag" value="0" />
    }

    @* این قسمت برای فهمیدن اینکه به آخر رکوردها رسیده ایم لازم است *@
if (Model.PortfolioLocalizeds == null || !Model.PortfolioLocalizeds.Any())
{
    <span class="emptyList">
        <p>آیتمی جهت نمایش وجود ندارد</p>
    </span>
}
else
{

    @* این قسمت برای فهمیدن اینکه به آخر رکوردها رسیده ایم لازم است *@
    <div class="infiniteScrollLoadingUp infiniteScrollLoading">
        <img src='@Url.Content("/Themes/nanok/img/spin1.gif")' />
        <p style="text-align: center;">
            <b>@ResourceLocalization.GetResource(() => Resource.LoadingNext) @TempData["RecordsPerEachPage"] @ResourceLocalization.GetResource(() => Resource.NextRecords)</b>
        </p>
    </div>
    @* این قسمت می تواند بدون محدودیت به طور کامل تغییر کنید *@
foreach (var item in Model.PortfolioLocalizeds)
{
    var currentLang = SharedObjectResolver.Configs.CurrentRequestCulture;
    var url = UrlTools.GetPortfolioDetailsUrl(item);
    var image = Html.Imagehelper(item.Portfolio.Image);
    var cat = item.Portfolio.PortfolioCategories.PortfolioCategoriesLocalized.FirstOrDefault(x => x.Languages.LanguagesCodes.Code == currentLang);
    <div class="col-md-4  col-xs-6 " onclick="window.location.href='@url'">
        <div class="projectItem">
            <div class="projectItemIn">
                <div class="img">
                    <img src="@image" alt="@item.Name" title="@item.Name" />
                    @if (cat != null)
                    {
                        <div class="labelPro design">@cat.Name</div>
                    }
                </div>
                <div class="popUp">
                    <i class="mdi mdi-magnify"></i>
                </div>
            </div>
            <a href="@UrlTools.GetPortfolioDetailsUrl(item)">@item.Name</a>
        </div>
    </div>

}
    <div class="infiniteScrollLoadingDown infiniteScrollLoading">
        <img src='@Url.Content("/Themes/nanok/img/spin1.gif")' />
        <p style="text-align: center;">
            <b>@ResourceLocalization.GetResource(() => Resource.LoadingNext) @TempData["RecordsPerEachPage"] @ResourceLocalization.GetResource(() => Resource.NextRecords)</b>
        </p>
    </div>

}
    <script> SetPaging();</script>
}



