@using Comman.Helpers
@using WebDesign.Domain
@using WebDesign.UI.Tools
@using WebDesign.UI.Framework.SharedObjects
@model PostsCategories

<ul class="category" style="display: none;">
    @{
        var mobileCatId = Model.Id;
        @ShowResizeMenu(Model, mobileCatId)
        @helper ShowResizeMenu(PostsCategories model, int catId)
        {
            int id = catId;
            var subs = from m in model.PostsCategories2 where m.PostsCategoriesId == id select m;
            if (subs != null)
            {
                var enumerableSubms = subs as List<PostsCategories> ?? subs.OrderBy(x => x.DisplayOrder).ToList();
                if (enumerableSubms.OrderBy(x => x.DisplayOrder).Any())
                {
                    foreach (var menu in enumerableSubms.OrderBy(x => x.DisplayOrder))
                    {
                        var subMenuClass = "";
                        if (!menu.PostsCategories2.Any())
                        {
                            subMenuClass = "noSub";
                        }
                        else
                        {
                            subMenuClass = "has-sub";
                        }
                        <li class="@subMenuClass">
                            @{
                                var currentLang = SharedObjectResolver.Configs.CurrentRequestCulture;
                                var localized = menu.PostsCategoriesLocalized.FirstOrDefault(x => x.Languages.LanguagesCodes.Code == currentLang);
                                var detailUrl = UrlTools.GetUrlOfCategoryPost(localized);

                                if (menu.PostsCategories2.Any())
                                {
                                    if (localized != null)
                                    {
                                        <a class="ripplelink" href="@detailUrl">@localized.Title</a>
                                    }
                                    WriteLiteral("<ul>");
                                    @ShowResizeMenu(model, menu.Id)
                                    WriteLiteral("</ul>");
                                }
                                else
                                {
                                    if (localized != null)
                                    {
                                        <a class="ripplelink" href="@detailUrl">@localized.Title</a>
                                    }
                                }
                            }
                        </li>
                    }
                }
            }
        }
    }
</ul>

 

