@using Comman.Enums
@using Comman.Helpers
@using Resources.App_GlobalResources
@using Utility.HtmlHelpers
@using WebDesign.UI.Tools
@model Models.PostCategoryInfiniteScrollListModel
    @{
    var type = PostsType.Article;
}
@{
    if (Request.RequestContext.RouteData.Values["type"].ToString() == PostsType.News.ToString())
    {
        type = PostsType.News;
    }
    else
    {
        type = PostsType.Article;
    }
}
@* این قسمت برای فهمیدن اینکه به آخر رکوردها رسیده ایم لازم است *@
@if (Model.PostCategoryLocalizeds == null || !Model.PostCategoryLocalizeds.Any())
{
    <input type="hidden" id="InfiniteScrollEndFlag" value="0" />
}
else
{
    @* این قسمت برای فهمیدن اینکه به آخر رکوردها رسیده ایم لازم است *@
    @*<div class="infiniteScrollLoadingUp infiniteScrollLoading">
        <img src='@Url.Content("/Themes/rohi/static/img/spin1.gif")' />
        <p style="text-align: center;">
            <b>@ResourceLocalization.GetResource(() => Resource.LoadingNext) @TempData["RecordsPerEachPage"] @ResourceLocalization.GetResource(() => Resource.NextRecords)</b>
        </p>
    </div>*@
    @* این قسمت می تواند بدون محدودیت به طور کامل تغییر کنید *@
var catsLoc = Model.PostCategoryLocalizeds.Where(x => x.Languages.LanguagesCodes.Code == LanguageHelper.GetCurrentCulture()).ToList();
foreach (var item in catsLoc)
{
    var detailUrl = "#";
    if (item.PostsCategories.PostsCategories2.Any())
    {
        detailUrl = UrlTools.GetPostCategoryLocalizedInfiniteScrollPagginglUrl(1, 50, type, item);
    }
    else
    {
        detailUrl = UrlTools.GetUrlOfCategoryPost(item.PostsCategories.PostsCategoriesLocalized.FirstOrDefault(),(PostsType) Request.RequestContext.RouteData.Values["type"]).ToString();
    }
    var imagePath = Html.Imagehelper(item.PostsCategories.Image);

    @*<div class="col-md-3 col-sm-4 col-xs-6" onclick="doHrefAction('@item.Id')">
        <div class="offerItem">
            <img src="@imagePath" alt="@item.Title" title="@item.Title" />
            <a class="@item.Id" href="@detailUrl">@item.Title</a>
        </div>
    </div>*@

    <div class="col-md-6 col-sm-6 col-xs-12 item" onclick="doHrefAction('@item.Id')">
        <img src="@imagePath" title="" alt="">
        <a class="@item.Id" href="@detailUrl"><h4 class="titr">@item.Title</h4></a>
    </div>



    }
    @*<div class="infiniteScrollLoadingDown infiniteScrollLoading">
        <img src='@Url.Content("/Themes/rohi/static/img/spin1.gif")' />
        <p style="text-align: center;">
            <b>@ResourceLocalization.GetResource(() => Resource.LoadingNext) @TempData["RecordsPerEachPage"] @ResourceLocalization.GetResource(() => Resource.NextRecords)</b>
        </p>
    </div>*@
}




