@using Comman.Enums
@using Comman.Helpers
@using Utility.HtmlHelpers
@using Resources.App_GlobalResources
@using Utility.Comman
@using WebDesign.UI.Tools
@model Models.ProductModel

<div id="owl-demo2" class="owl-carousel owl-theme" dir="ltr">
    @foreach (var item in Model.ProductsLocalizeds)
    {
        var url = UrlTools.GetProductDetailsUrl(item);
        var imagePath = Html.Imagehelper(item.Products.Image);
        var priceAfterApppliedDiscount = Discounts.CalculateDiscounts(item.Products, 1);
        var result = priceAfterApppliedDiscount.Item1 * Model.Currency.Rate;
        var exPrice = item.Products.Price * Model.Currency.Rate;
        <div onclick="doHrefAction(@item.Id)" class="item">
            <div class="box-pro os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.2s">
                <figure>
                    <a href="@url">
                        <img src="@imagePath" alt="@item.Name">
                    </a>
                </figure>
                <article>
                    <a href="@url" class="@item.Id">
                        <h2>@item.Name</h2>
                    </a>
                    <div class="price">
                        <span class="noline">@Html.DisplayFor(modelItem => result) &nbsp; @Html.DisplayFor(x => Model.Currency.Symbol)</span>
                        <span class="line">@Html.DisplayFor(modelItem => exPrice) &nbsp; @Html.DisplayFor(x => Model.Currency.Symbol)</span>
                    </div>
                    <b class="more-pro hvr-bounce-to-top btn btn-default">@ResourceLocalization.GetResource(() => Resource.Details)</b>
                </article>
            </div>
        </div>
    }
</div>


