
<div id="widgetmodal"  style="z-index:1000000000000000" class="modal fade" role="dialog">
    <div class="modal-dialog">

        
        <div class="modal-content">
            <div class="modal-header-custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تنظیمات</h4>
            </div>
            <div class="blackwrap modal-body">
                
                        <div class='link'>
                            @foreach (KeyValuePair<string, string> item in Model)
                            {
                                @*<input type="button" value="@item.Value" dataattr="@item.Key" class="btnset" />*@
                                <a href="#" class="btnset showcase btnlink" dataattr="@item.Key"><span>@item.Value</span></a>
                            }
                        
                        </div>
                    </div>
                </div>
        
            </div>
    
        </div>

<script>

    $(".btnset").click(function () {
       // alert(".btnset clicket");
        var a = $(this);

       

        $.ajax({
            url: '@Url.Action("GetJsonWidget", "ThemesSettings")',
            data: { WidgetName: a.attr("dataattr") },
            type: "Get",
            success: function (data) {
              
                $("#SearchViewDiv").html(data);
              
             

            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }



        });

    });

    $(".close").click(function () {


        $("div.modal-backdrop fade i").remove();
       

      
    });
</script>
